@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Перевозка попутных грузов</h2>
            <p>Добро пожаловать на страницу проекта "Перевозка попутных грузов". Наш сервис предназначен для удобной и эффективной перевозки грузов с использованием современных технологий.</p>
            <p>Мы предлагаем пользователям возможность быстро и безопасно находить попутных перевозчиков для доставки грузов в нужное место. Наша платформа позволяет с легкостью находить попутные маршруты и делиться расходами на перевозку грузов.</p>
            <p>Наши основные преимущества:</p>
            <ul>
                <li>Удобный и интуитивно понятный интерфейс</li>
                <li>Быстрый поиск попутных перевозчиков</li>
                <li>Безопасная и надежная доставка грузов</li>
                <li>Экономия времени и денег</li>
            </ul>
            <p>Мы стремимся сделать процесс перевозки грузов максимально удобным и доступным для всех пользователей. Присоединяйтесь к нам прямо сейчас и начните экономить на перевозке грузов!</p>
        </div>
    </div>
</div>
